<div class="nav-bread">
    <a class="nav-bread-home" href="http://baojian.163.com/"></a>&gt;
  <a href="http://baojian.163.com/products/1.html">基础</a>
    &gt;<strong>调节肠胃</strong>
</div>
<article class="list-wrap clearfix">
    <section class="list-left">
        <dl class="list-left-category">
            <dt class="clearfix">
                <a class="list-category0" href="/products/1.html">基础</a>
                <span class="list-category-arrow" style="display: none"></span></dt>
            <dd>
                <span><a href="/products/1-105.html">维生素类</a></span><span><a href="/products/1-106.html">钙铁锌硒</a></span><span><a href="/products/1-107.html">蛋白质类</a></span><span><a href="/products/1-8.html">增强免疫</a></span><span><a href="/products/1-9.html">减缓疲劳</a></span><span><a href="/products/1-10.html">改善睡眠</a></span><span class="active"><a href="/products/1-11.html">调节肠胃</a></span><span><a href="/products/1-12.html">改善记忆</a></span><span><a href="/products/1-13.html">护眼明目</a></span></dd>
            <dt class="clearfix"><a class="list-category1" href="/products/2.html">女士</a>
                <span class="list-category-arrow"></span></dt>
            <dd style="display: none">
                <span><a href="/products/2-14.html">补血养气</a></span><span>
                    <a href="/products/2-15.html">减肥瘦身</a></span><span>
                        <a href="/products/2-16.html">丰胸美胸</a></span>
                <span><a href="/products/2-17.html">美白祛斑</a></span><span><a href="/products/2-18.html">排毒养颜</a></span><span><a href="/products/2-19.html">延缓衰老</a></span><span><a href="/products/2-20.html">孕期营养</a></span></dd>
            <dt class="clearfix"><a class="list-category2" href="/products/3.html">男士</a><span class="list-category-arrow"></span></dt>
            <dd style="display: none">
                <span><a href="/products/3-21.html">补肾健体</a></span><span><a href="/products/3-22.html">解酒护肝</a></span><span><a href="/products/3-23.html">性腺养护</a></span><span><a href="/products/3-24.html">健身塑肌</a></span></dd>
            <dt class="clearfix"><a class="list-category3" href="/products/4.html">老人</a><span class="list-category-arrow"></span></dt>
            <dd style="display: none">
                <span><a href="/products/4-25.html">调节三高</a></span><span><a href="/products/4-26.html">心脑保健</a></span><span><a href="/products/4-27.html">溶解血栓</a></span><span><a href="/products/4-28.html">强健骨骼</a></span></dd>
            <dt class="clearfix"><a class="list-category4" href="/products/5.html">儿童</a><span class="list-category-arrow"></span></dt>
            <dd style="display: none">
                <span><a href="/products/5-29.html">均衡营养</a></span><span><a href="/products/5-30.html">健脑益智</a></span><span><a href="/products/5-31.html">增强免疫</a></span><span><a href="/products/5-32.html">骨骼发育</a></span></dd>
            <dt class="clearfix"><a class="list-category5" href="/products/6.html">食品</a><span class="list-category-arrow"></span></dt>
            <dd style="display: none">
                <span><a href="/products/6-33.html">蜂蜜阿胶</a></span><span><a href="/products/6-34.html">茶疗保健</a></span><span><a href="/products/6-36.html">果干糕点</a></span></dd>
        </dl>
        <div class="list-gray-box">
            <h4>浏览<span class="c_ba2636">调节肠胃</span>的用户最终购买了</h4>
            <ul class="list-gray-view">
                <li class="clearfix">
                    <a href="/product/1661.html" target="_blank" class="list-gray-img" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                        <img width="100" height="100" border="0" src="http://img3.126.net/health/product/20121024/h8o25jfz10064_100_100.jpg" alt="澳罗拉螺旋藻营养软胶囊700mg/粒*100粒/瓶" title="澳罗拉螺旋藻营养软胶囊700mg/粒*100粒/瓶"></a>
                    <p class="list-gray-desc">
                        <strong class="c_ba2636">44%</strong><strong>会买：</strong>
                        <a class="list-gray-title" target="_blank" title="澳罗拉螺旋藻营养软胶囊700mg/粒*100粒/瓶" href="/product/1661.html">澳罗拉螺旋藻营养软胶囊700mg/粒*100粒/瓶</a>
                    </p>
                    <p class="list-gray-price"><strong>¥98.00</strong></p>
                    <p class="list-gray-gift">
                        <span title="原品1瓶">赠</span>
                    </p>
                </li>
                <li class="clearfix">
                    <a href="/product/1079.html" target="_blank" class="list-gray-img" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                        <img width="100" height="100" border="0" src="http://img3.126.net/health/product/20121107/h98k84bt20077_100_100.jpg" alt="GNC健安喜螺旋藻胶囊672mg/粒*90粒" title="GNC健安喜螺旋藻胶囊672mg/粒*90粒"></a>
                    <p class="list-gray-desc">
                        <strong class="c_ba2636">12%</strong><strong>会买：</strong>
                        <a class="list-gray-title" target="_blank" title="GNC健安喜螺旋藻胶囊672mg/粒*90粒" href="/product/1079.html">GNC健安喜螺旋藻胶囊672mg/粒*90粒</a>
                    </p>
                    <p class="list-gray-price"><strong>¥217.00</strong></p>
                    <p class="list-gray-gift">
                    </p>
                </li>
                <li class="clearfix">
                    <a href="/product/1641.html" target="_blank" class="list-gray-img">
                        <img width="100" height="100" border="0" src="http://img3.126.net/health/images/blank.gif" lazyload="http://img3.126.net/health/product/20121025/h8p7gvya10145_100_100.jpg" alt="澳罗拉芦荟营养软胶囊1450mg/粒*60粒/瓶" title="澳罗拉芦荟营养软胶囊1450mg/粒*60粒/瓶"></a>
                    <p class="list-gray-desc">
                        <strong class="c_ba2636">11%</strong><strong>会买：</strong>
                        <a class="list-gray-title" target="_blank" title="澳罗拉芦荟营养软胶囊1450mg/粒*60粒/瓶" href="/product/1641.html">澳罗拉芦荟营养软胶囊1450mg/粒*60粒/瓶</a>
                    </p>
                    <p class="list-gray-price"><strong>¥98.00</strong></p>
                    <p class="list-gray-gift">
                        <span title="原品1瓶">赠</span>
                    </p>
                </li>
                <li class="clearfix list-gray-last">
                    <a href="/product/1733.html" target="_blank" class="list-gray-img">
                        <img width="100" height="100" border="0" src="http://img3.126.net/health/images/blank.gif" lazyload="http://img3.126.net/health/product/20121109/8001750_100_100.jpg" alt="汤臣倍健螺旋藻片72g(600mg/片*120片)" title="汤臣倍健螺旋藻片72g(600mg/片*120片)"></a>
                    <p class="list-gray-desc">
                        <strong class="c_ba2636">11%</strong><strong>会买：</strong>
                        <a class="list-gray-title" target="_blank" title="汤臣倍健螺旋藻片72g(600mg/片*120片)" href="/product/1733.html">汤臣倍健螺旋藻片72g(600mg/片*120片)</a>
                    </p>
                    <p class="list-gray-price"><strong>¥88.00</strong></p>
                    <p class="list-gray-gift">
                        <span title="汤臣倍健液体钙30粒">赠</span>
                    </p>
                </li>
            </ul>
        </div>
        <div class="list-gray-box ">
            <h4>商品好评榜</h4>
            <ul class="list-gray-view list-gray-view-good">
                <li class="clearfix ">
                    <em class="top">1</em>
                    <a href="/product/1661.html" target="_blank" class="list-gray-img">
                        <img width="70" height="70" border="0" src="http://img3.126.net/health/images/blank.gif" lazyload="http://img3.126.net/health/product/20121024/h8o25jfz10064_70_70.jpg" alt="澳罗拉螺旋藻营养软胶囊700mg/粒*100粒/瓶" title="澳罗拉螺旋藻营养软胶囊700mg/粒*100粒/瓶"></a>
                    <p class="list-gray-desc">
                        <a class="list-gray-title" target="_blank" title="澳罗拉螺旋藻营养软胶囊700mg/粒*100粒/瓶" href="/product/1661.html">澳罗拉螺旋藻营养软胶囊700mg/粒*100粒/瓶</a>
                    </p>
                    <p class="list-gray-price"><strong>¥98.00</strong></p>
                    <p class="list-gray-comment"><a target="_blank" href="/product/1661.html#P_nav">已有85条评价</a></p>
                </li>
                <li class="clearfix ">
                    <em class="top">2</em>
                    <a href="/product/1947.html" target="_blank" class="list-gray-img">
                        <img width="70" height="70" border="0" src="http://img3.126.net/health/images/blank.gif" lazyload="http://img3.126.net/health/product/20121205/hac8mib210460_70_70.jpg" alt="美澳健猴头菇多糖片0.6g*100片" title="美澳健猴头菇多糖片0.6g*100片"></a>
                    <p class="list-gray-desc">
                        <a class="list-gray-title" target="_blank" title="美澳健猴头菇多糖片0.6g*100片" href="/product/1947.html">美澳健猴头菇多糖片0.6g*100片</a>
                    </p>
                    <p class="list-gray-price"><strong>¥73.40</strong></p>
                    <p class="list-gray-comment"><a target="_blank" href="/product/1947.html#P_nav">已有79条评价</a></p>
                </li>
                <li class="clearfix ">
                    <em class="top">3</em>
                    <a href="/product/1032.html" target="_blank" class="list-gray-img">
                        <img width="70" height="70" border="0" src="http://img3.126.net/health/images/blank.gif" lazyload="http://img3.126.net/health/product/20121107/h97wm9la10568_70_70.jpg" alt="美澳健维生素B族片0.6g*100片" title="美澳健维生素B族片0.6g*100片"></a>
                    <p class="list-gray-desc">
                        <a class="list-gray-title" target="_blank" title="美澳健维生素B族片0.6g*100片" href="/product/1032.html">美澳健维生素B族片0.6g*100片</a>
                    </p>
                    <p class="list-gray-price"><strong>¥68.00</strong></p>
                    <p class="list-gray-comment"><a target="_blank" href="/product/1032.html#P_nav">已有70条评价</a></p>
                </li>
                <li class="clearfix list-gray-last">
                    <em>4</em>
                    <a href="/product/1079.html" target="_blank" class="list-gray-img">
                        <img width="70" height="70" border="0" src="http://img3.126.net/health/images/blank.gif" lazyload="http://img3.126.net/health/product/20121107/h98k84bt20077_70_70.jpg" alt="GNC健安喜螺旋藻胶囊672mg/粒*90粒" title="GNC健安喜螺旋藻胶囊672mg/粒*90粒"></a>
                    <p class="list-gray-desc">
                        <a class="list-gray-title" target="_blank" title="GNC健安喜螺旋藻胶囊672mg/粒*90粒" href="/product/1079.html">GNC健安喜螺旋藻胶囊672mg/粒*90粒</a>
                    </p>
                    <p class="list-gray-price"><strong>¥217.00</strong></p>
                    <p class="list-gray-comment"><a target="_blank" href="/product/1079.html#P_nav">已有70条评价</a></p>
                </li>
            </ul>
        </div>
        <div class="list-gray-box">
            <h4><span class="c_ba2636">调节肠胃</span>品牌热销排行榜</h4>
            <table align="center" cellpadding="0" cellspacing="0" border="0" width="246" class="list-gray-table">
                <tbody>
                    <tr>
                        <td class="fs14 ff_yh" align="center" width="25"><em>1</em></td>
                        <td align="left" width="120"><a target="_blank" href="/brand/110-11.html" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                            <img src="http://img3.126.net/health/product/brand/110.png" alt="澳罗拉" title="澳罗拉" width="110" height="60" border="0"></a></td>
                        <td align="left"><a target="_blank" href="/brand/110-11.html">澳罗拉</a></td>
                    </tr>
                </tbody>
            </table>
            <table align="center" cellpadding="0" cellspacing="0" border="0" width="246" class="list-gray-table">
                <tbody>
                    <tr>
                        <td class="fs14 ff_yh" align="center" width="25"><em>2</em></td>
                        <td align="left" width="120"><a target="_blank" href="/brand/62-11.html" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                            <img src="http://img3.126.net/health/product/brand/62.png" alt="汤臣倍健" title="汤臣倍健" width="110" height="60" border="0"></a></td>
                        <td align="left"><a target="_blank" href="/brand/62-11.html">汤臣倍健</a></td>
                    </tr>
                </tbody>
            </table>
            <table align="center" cellpadding="0" cellspacing="0" border="0" width="246" class="list-gray-table">
                <tbody>
                    <tr>
                        <td class="fs14 ff_yh" align="center" width="25"><em>3</em></td>
                        <td align="left" width="120"><a target="_blank" href="/brand/67-11.html" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                            <img src="http://img3.126.net/health/product/brand/67.png" alt="GNC健安喜" title="GNC健安喜" width="110" height="60" border="0"></a></td>
                        <td align="left"><a target="_blank" href="/brand/67-11.html">GNC健安喜</a></td>
                    </tr>
                </tbody>
            </table>
            <table align="center" cellpadding="0" cellspacing="0" border="0" width="246" class="list-gray-table">
                <tbody>
                    <tr>
                        <td class="fs14 ff_yh" align="center" width="25"><em>4</em></td>
                        <td align="left" width="120"><a target="_blank" href="/brand/106-11.html" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                            <img src="http://img3.126.net/health/product/brand/106.png" alt="美澳健" title="美澳健" width="110" height="60" border="0"></a></td>
                        <td align="left"><a target="_blank" href="/brand/106-11.html">美澳健</a></td>
                    </tr>
                </tbody>
            </table>
            <table align="center" cellpadding="0" cellspacing="0" border="0" width="246" class="list-gray-table">
                <tbody>
                    <tr>
                        <td class="fs14 ff_yh" align="center" width="25"><em>5</em></td>
                        <td align="left" width="120"><a target="_blank" href="/brand/109-11.html" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                            <img src="http://img3.126.net/health/product/brand/109.png" alt="十一坊" title="十一坊" width="110" height="60" border="0"></a></td>
                        <td align="left"><a target="_blank" href="/brand/109-11.html">十一坊</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="list-gray-box">
            <h4>浏览<span class="c_ba2636">调节肠胃</span>的用户还购买了</h4>
            <ul class="list-gray-view">
                <li class="clearfix">
                    <a href="/product/854.html" target="_blank" class="list-gray-img">
                        <img width="100" height="100" border="0" src="http://img3.126.net/health/images/blank.gif" lazyload="http://img4.126.net/health/product/20130114/hbxa79sc10114_100_100.jpg" alt="自然之宝番茄红素软胶囊250mg/粒*100粒" title="自然之宝番茄红素软胶囊250mg/粒*100粒"></a>
                    <p class="list-gray-desc">
                        <a class="list-gray-title" target="_blank" title="自然之宝番茄红素软胶囊250mg/粒*100粒" href="/product/854.html">自然之宝番茄红素软胶囊250mg/粒*100粒</a>
                    </p>
                    <p class="list-gray-price"><strong>¥108.68</strong></p>
                    <p class="list-gray-gift">
                    </p>
                </li>
                <li class="clearfix">
                    <a href="/product/1661.html" target="_blank" class="list-gray-img">
                        <img width="100" height="100" border="0" src="http://img3.126.net/health/images/blank.gif" lazyload="http://img3.126.net/health/product/20121024/h8o25jfz10064_100_100.jpg" alt="澳罗拉螺旋藻营养软胶囊700mg/粒*100粒/瓶" title="澳罗拉螺旋藻营养软胶囊700mg/粒*100粒/瓶"></a>
                    <p class="list-gray-desc">
                        <a class="list-gray-title" target="_blank" title="澳罗拉螺旋藻营养软胶囊700mg/粒*100粒/瓶" href="/product/1661.html">澳罗拉螺旋藻营养软胶囊700mg/粒*100粒/瓶</a>
                    </p>
                    <p class="list-gray-price"><strong>¥98.00</strong></p>
                    <p class="list-gray-gift">
                        <span title="原品1瓶">赠</span>
                    </p>
                </li>
                <li class="clearfix">
                    <a href="/product/1671.html" target="_blank" class="list-gray-img">
                        <img width="100" height="100" border="0" src="http://img3.126.net/health/images/blank.gif" lazyload="http://img3.126.net/health/product/20121025/h8pa4h1o10203_100_100.jpg" alt="澳罗拉海洋胶原蛋白复合营养软胶囊1430mg/粒*80粒/瓶" title="澳罗拉海洋胶原蛋白复合营养软胶囊1430mg/粒*80粒/瓶"></a>
                    <p class="list-gray-desc">
                        <a class="list-gray-title" target="_blank" title="澳罗拉海洋胶原蛋白复合营养软胶囊1430mg/粒*80粒/瓶" href="/product/1671.html">澳罗拉海洋胶原蛋白复合营养软胶囊1430mg/粒*80粒/瓶</a>
                    </p>
                    <p class="list-gray-price"><strong>¥98.00</strong></p>
                    <p class="list-gray-gift">
                        <span title="原品1瓶">赠</span>
                    </p>
                </li>
                <li class="clearfix list-gray-last">
                    <a href="/product/1642.html" target="_blank" class="list-gray-img">
                        <img width="100" height="100" border="0" src="http://img3.126.net/health/images/blank.gif" lazyload="http://img3.126.net/health/product/20121025/h8p8nib910161_100_100.jpg" alt="澳罗拉深海三文鱼油营养软胶囊1450mg/粒*100粒/瓶" title="澳罗拉深海三文鱼油营养软胶囊1450mg/粒*100粒/瓶"></a>
                    <p class="list-gray-desc">
                        <a class="list-gray-title" target="_blank" title="澳罗拉深海三文鱼油营养软胶囊1450mg/粒*100粒/瓶" href="/product/1642.html">澳罗拉深海三文鱼油营养软胶囊1450mg/粒*100粒/瓶</a>
                    </p>
                    <p class="list-gray-price"><strong>¥98.00</strong></p>
                    <p class="list-gray-gift">
                        <span title="原品1瓶">赠</span>
                    </p>
                </li>
            </ul>
        </div>
        <div class="records mt10" id="userViewRecords" style="visibility: hidden">
            <h3><strong>浏览历史</strong></h3>
            <ul></ul>
        </div>
    </section>
    <section class="list-right">
        <div class="list-right-wrap clearfix">
            <div class="list-right-attr clearfix">
                <div class="list-right-attr-bread clearfix">
                    <div class="list-right-attr-title">品牌：</div>
                    <div class="list-right-attr-all">
                        <a hidefocus="true" target="_self" class="selected" href="http://baojian.163.com/products/1-11-0-0-0-0-0-0-0-0-1.html">不限</a>
                    </div>
                    <ul class="list-right-attr-list clearfix" style="height: 58px;">
                        <li><span><a hidefocus="true" target="_self" href="http://baojian.163.com/products/1-11-63-0-0-0-0-0-0-0-1.html">自然之宝</a></span></li>
                        <li><span><a hidefocus="true" target="_self" href="http://baojian.163.com/products/1-11-62-0-0-0-0-0-0-0-1.html">汤臣倍健</a></span></li>
                        <li><span><a hidefocus="true" target="_self" href="http://baojian.163.com/products/1-11-61-0-0-0-0-0-0-0-1.html">养生堂</a></span></li>
                        <li><span><a hidefocus="true" target="_self" href="http://baojian.163.com/products/1-11-67-0-0-0-0-0-0-0-1.html">GNC健安喜</a></span></li>
                        <li><span><a hidefocus="true" target="_self" href="http://baojian.163.com/products/1-11-90-0-0-0-0-0-0-0-1.html">同仁堂</a></span></li>
                        <li><span><a hidefocus="true" target="_self" href="http://baojian.163.com/products/1-11-76-0-0-0-0-0-0-0-1.html">碧生源</a></span></li>
                        <li><span><a hidefocus="true" target="_self" href="http://baojian.163.com/products/1-11-65-0-0-0-0-0-0-0-1.html">纽斯葆</a></span></li>
                        <li><span><a hidefocus="true" target="_self" href="http://baojian.163.com/products/1-11-66-0-0-0-0-0-0-0-1.html">渔夫堡</a></span></li>
                        <li><span><a hidefocus="true" target="_self" href="http://baojian.163.com/products/1-11-68-0-0-0-0-0-0-0-1.html">Cheerer喜瑞</a></span></li>
                        <li><span><a hidefocus="true" target="_self" href="http://baojian.163.com/products/1-11-82-0-0-0-0-0-0-0-1.html">Jamieson健美生</a></span></li>
                        <li><span><a hidefocus="true" target="_self" href="http://baojian.163.com/products/1-11-105-0-0-0-0-0-0-0-1.html">AURINDA澳琳达</a></span></li>
                        <li><span><a hidefocus="true" target="_self" href="http://baojian.163.com/products/1-11-109-0-0-0-0-0-0-0-1.html">十一坊</a></span></li>
                        <li><span><a hidefocus="true" target="_self" href="http://baojian.163.com/products/1-11-110-0-0-0-0-0-0-0-1.html">澳罗拉</a></span></li>
                        <li><span><a hidefocus="true" target="_self" href="http://baojian.163.com/products/1-11-119-0-0-0-0-0-0-0-1.html">Natrol</a></span></li>
                        <li><span><a hidefocus="true" target="_self" href="http://baojian.163.com/products/1-11-106-0-0-0-0-0-0-0-1.html">美澳健</a></span></li>
                        <li><span><a hidefocus="true" target="_self" href="http://baojian.163.com/products/1-11-127-0-0-0-0-0-0-0-1.html">ORGANIKA沃华泰康</a></span></li>
                    </ul>
                    <span class="list-right-attr-more" style="">更多</span>
                    <span class="list-right-attr-little" style="display: none">收起</span>
                </div>
                <div class="list-right-attr-bread clearfix">
                    <div class="list-right-attr-title">类别：</div>
                    <div class="list-right-attr-all">
                        <a hidefocus="true" target="_self" class="selected" href="http://baojian.163.com/products/1-11-0-0-0-0-0-0-0-0-1.html">不限</a>
                    </div>
                    <ul class="list-right-attr-list clearfix" style="height: 29px;">
                        <li><span><a hidefocus="true" target="_self" href="http://baojian.163.com/products/1-11-0-55-0-0-0-0-0-0-1.html">蜂蜜</a></span></li>
                        <li><span><a hidefocus="true" target="_self" href="http://baojian.163.com/products/1-11-0-41-0-0-0-0-0-0-1.html">膳食纤维</a></span></li>
                        <li><span><a hidefocus="true" target="_self" href="http://baojian.163.com/products/1-11-0-44-0-0-0-0-0-0-1.html">螺旋藻</a></span></li>
                        <li><span><a hidefocus="true" target="_self" href="http://baojian.163.com/products/1-11-0-56-0-0-0-0-0-0-1.html">B族维生素</a></span></li>
                        <li><span><a hidefocus="true" target="_self" href="http://baojian.163.com/products/1-11-0-57-0-0-0-0-0-0-1.html">苹果醋</a></span></li>
                        <li><span><a hidefocus="true" target="_self" href="http://baojian.163.com/products/1-11-0-49-0-0-0-0-0-0-1.html">其他</a></span></li>
                    </ul>
                    <span class="list-right-attr-more" style="">更多</span>
                    <span class="list-right-attr-little" style="display: none">收起</span>
                </div>
                <div class="list-right-attr-bread  clearfix">
                    <div class="list-right-attr-title">蓝帽：</div>
                    <div class="list-right-attr-all"><a hidefocus="true" target="_self" class="selected" href="http://baojian.163.com/products/1-11-0-0-0-0-0-0-0-0-1.html">不限</a></div>
                    <ul class="list-right-attr-list clearfix">
                        <li><span><a hidefocus="true" target="_self" href="http://baojian.163.com/products/1-11-0-0-1-0-0-0-0-0-1.html">保健品（有蓝帽）</a></span></li>
                        <li><span><a hidefocus="true" target="_self" href="http://baojian.163.com/products/1-11-0-0-2-0-0-0-0-0-1.html">营养膳食补充剂（非蓝帽）</a></span></li>
                    </ul>
                </div>
                <div class="list-right-attr-bread clearfix">
                    <div class="list-right-attr-title">产地：</div>
                    <div class="list-right-attr-all"><a hidefocus="true" target="_self" class="selected" href="http://baojian.163.com/products/1-11-0-0-0-0-0-0-0-0-1.html">不限</a></div>
                    <ul class="list-right-attr-list clearfix">
                        <li><span><a hidefocus="true" target="_self" href="http://baojian.163.com/products/1-11-0-0-0-1-0-0-0-0-1.html">国产</a></span></li>
                        <li><span><a hidefocus="true" target="_self" href="http://baojian.163.com/products/1-11-0-0-0-2-0-0-0-0-1.html">进口</a></span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="list-filter clearfix">
            <div class="list-filter-top scroll-fixed clearfix">
                <a hidefocus="true" class="list-filter-sort list-filter-default select mr5 " href="http://baojian.163.com/products/1-11-0-0-0-0-0-0-0-0-1.html">默认</a>
                <a hidefocus="true" class="list-filter-sort list-filter-down mr5" href="http://baojian.163.com/products/1-11-0-0-0-0-0-1-0-0-1.html">销量</a>
                <a hidefocus="true" class="list-filter-sort list-filter-down mr20" href="http://baojian.163.com/products/1-11-0-0-0-0-0-4-0-0-1.html">评价</a>
                <a hidefocus="true" class="list-filter-sort list-filter-up" href="http://baojian.163.com/products/1-11-0-0-0-0-0-2-0-0-1.html">价格</a>
                <a hidefocus="true" class="list-filter-sort list-filter-down mr10" href="http://baojian.163.com/products/1-11-0-0-0-0-0-3-0-0-1.html">价格</a>
                <div class="list-filter-price">
                    <span class="list-filter-price-text">价格区间</span>
                    <ul class="list-filter-price-list">
                        <li><a href="http://baojian.163.com/products/1-11-0-0-0-0-0-0-0-0-1.html">价格区间</a></li>
                        <li><a href="http://baojian.163.com/products/1-11-0-0-0-0-1-0-0-0-1.html">0~99元</a></li>
                        <li><a href="http://baojian.163.com/products/1-11-0-0-0-0-2-0-0-0-1.html">100~199元</a></li>
                        <li><a href="http://baojian.163.com/products/1-11-0-0-0-0-3-0-0-0-1.html">200~300元</a></li>
                        <li><a href="http://baojian.163.com/products/1-11-0-0-0-0-4-0-0-0-1.html">300以上</a></li>
                    </ul>
                </div>
                <div class="list-filter-page">
                    <a class="list-filter-nopage" href="javascript:void(0)">&lt;</a>
                    <strong>1</strong>/<span>2</span>
                    <a href="http://baojian.163.com/products/1-11-0-0-0-0-0-0-0-0-2.html">&gt;</a>
                </div>
                <div class="list-filter-page-number">共&nbsp;<strong class="c_ba2636">44</strong>&nbsp;个商品</div>
            </div>
            <div class="list-filter-bottom clearfix">
                <div class="list-filter-menu">
                    <label>
                        <input type="checkbox" v0="http://baojian.163.com/products/1-11-0-0-0-0-0-0-0-0-1.html" v1="http://baojian.163.com/products/1-11-0-0-0-0-0-0-1-0-1.html">参加活动商品</label>
                    <label class="ml10">
                        <input type="checkbox" v0="http://baojian.163.com/products/1-11-0-0-0-0-0-0-0-0-1.html" v1="http://baojian.163.com/products/1-11-0-0-0-0-0-0-0-1-1.html">只显示有货商品</label>
                </div>
            </div>
        </div>
        <div class="list-products clearfix">
            <div class="list-products-item">
                <a class="list-products-item-img" target="_blank" href="http://baojian.163.com/product/1661.html" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                    <img width="220" height="220" border="0" src="http://img3.126.net/health/product/20121024/h8o25jfz10064_220_220.jpg" alt="澳罗拉螺旋藻营养软胶囊700mg/粒*100粒/瓶 赠原品1瓶" title="澳罗拉螺旋藻营养软胶囊700mg/粒*100粒/瓶 赠原品1瓶">
                    <span class="actNewIcon actIcon01"></span>

                </a>
                <p class="list-products-item-desc"><a target="_blank" href="http://baojian.163.com/product/1661.html" title="澳罗拉螺旋藻营养软胶囊700mg/粒*100粒/瓶 赠原品1瓶">澳罗拉螺旋藻营养软胶囊700mg/粒*100粒/瓶<span class="c_ba2636"> 赠原品1瓶</span></a></p>
                <p class="list-products-item-price"><del>¥358.00</del>&nbsp;&nbsp;<strong class="fs14">¥98.00</strong></p>
                <p class="list-products-item-comment">
                    <a target="_blank" href="http://baojian.163.com/product/1661.html#P_nav">已有85条评价</a>&nbsp;&nbsp;
              <span title="原品1瓶">赠</span>
                </p>
                <p class="list-products-item-title">活体螺旋藻制作</p>
                <a href="#Core.onCartIconClick:1661" hidefocus="true" class="list-products-item-car" title="添加到购物车"></a>
            </div>
            <div class="list-products-item">
                <a class="list-products-item-img" target="_blank" href="http://baojian.163.com/product/1661.html" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                    <img width="220" height="220" border="0" src="http://img3.126.net/health/product/20121024/h8o25jfz10064_220_220.jpg" alt="澳罗拉螺旋藻营养软胶囊700mg/粒*100粒/瓶 赠原品1瓶" title="澳罗拉螺旋藻营养软胶囊700mg/粒*100粒/瓶 赠原品1瓶">
                    <span class="list-products-item-icon list-products-item-icon1"></span>

                </a>
                <p class="list-products-item-desc"><a target="_blank" href="http://baojian.163.com/product/1661.html" title="澳罗拉螺旋藻营养软胶囊700mg/粒*100粒/瓶 赠原品1瓶">澳罗拉螺旋藻营养软胶囊700mg/粒*100粒/瓶<span class="c_ba2636"> 赠原品1瓶</span></a></p>
                <p class="list-products-item-price"><del>¥358.00</del>&nbsp;&nbsp;<strong class="fs14">¥98.00</strong></p>
                <p class="list-products-item-comment">
                    <a target="_blank" href="http://baojian.163.com/product/1661.html#P_nav">已有85条评价</a>&nbsp;&nbsp;
              <span title="原品1瓶">赠</span>
                </p>
                <p class="list-products-item-title">活体螺旋藻制作</p>
                <a href="#Core.onCartIconClick:1661" hidefocus="true" class="list-products-item-car" title="添加到购物车"></a>
            </div>
            <div class="list-products-item">
                <a class="list-products-item-img" target="_blank" href="http://baojian.163.com/product/1661.html" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                    <img width="220" height="220" border="0" src="http://img3.126.net/health/product/20121024/h8o25jfz10064_220_220.jpg" alt="澳罗拉螺旋藻营养软胶囊700mg/粒*100粒/瓶 赠原品1瓶" title="澳罗拉螺旋藻营养软胶囊700mg/粒*100粒/瓶 赠原品1瓶">
                    <span class="list-products-item-icon list-products-item-icon1"></span>

                </a>
                <p class="list-products-item-desc"><a target="_blank" href="http://baojian.163.com/product/1661.html" title="澳罗拉螺旋藻营养软胶囊700mg/粒*100粒/瓶 赠原品1瓶">澳罗拉螺旋藻营养软胶囊700mg/粒*100粒/瓶<span class="c_ba2636"> 赠原品1瓶</span></a></p>
                <p class="list-products-item-price"><del>¥358.00</del>&nbsp;&nbsp;<strong class="fs14">¥98.00</strong></p>
                <p class="list-products-item-comment">
                    <a target="_blank" href="http://baojian.163.com/product/1661.html#P_nav">已有85条评价</a>&nbsp;&nbsp;
              <span title="原品1瓶">赠</span>
                </p>
                <p class="list-products-item-title">活体螺旋藻制作</p>
                <a href="#Core.onCartIconClick:1661" hidefocus="true" class="list-products-item-car" title="添加到购物车"></a>
            </div>
            <div class="gray-line"></div>
            <div class="list-products-item">
                <a class="list-products-item-img" target="_blank" href="http://baojian.163.com/product/1661.html" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                    <img width="220" height="220" border="0" src="http://img3.126.net/health/product/20121024/h8o25jfz10064_220_220.jpg" alt="澳罗拉螺旋藻营养软胶囊700mg/粒*100粒/瓶 赠原品1瓶" title="澳罗拉螺旋藻营养软胶囊700mg/粒*100粒/瓶 赠原品1瓶">
                    <span class="list-products-item-icon list-products-item-icon1"></span>

                </a>
                <p class="list-products-item-desc"><a target="_blank" href="http://baojian.163.com/product/1661.html" title="澳罗拉螺旋藻营养软胶囊700mg/粒*100粒/瓶 赠原品1瓶">澳罗拉螺旋藻营养软胶囊700mg/粒*100粒/瓶<span class="c_ba2636"> 赠原品1瓶</span></a></p>
                <p class="list-products-item-price"><del>¥358.00</del>&nbsp;&nbsp;<strong class="fs14">¥98.00</strong></p>
                <p class="list-products-item-comment">
                    <a target="_blank" href="http://baojian.163.com/product/1661.html#P_nav">已有85条评价</a>&nbsp;&nbsp;
              <span title="原品1瓶">赠</span>
                </p>
                <p class="list-products-item-title">活体螺旋藻制作</p>
                <a href="#Core.onCartIconClick:1661" hidefocus="true" class="list-products-item-car" title="添加到购物车"></a>
            </div>
            <div class="list-products-item">
                <a class="list-products-item-img" target="_blank" href="http://baojian.163.com/product/1661.html" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                    <img width="220" height="220" border="0" src="http://img3.126.net/health/product/20121024/h8o25jfz10064_220_220.jpg" alt="澳罗拉螺旋藻营养软胶囊700mg/粒*100粒/瓶 赠原品1瓶" title="澳罗拉螺旋藻营养软胶囊700mg/粒*100粒/瓶 赠原品1瓶">
                    <span class="list-products-item-icon list-products-item-icon1"></span>

                </a>
                <p class="list-products-item-desc"><a target="_blank" href="http://baojian.163.com/product/1661.html" title="澳罗拉螺旋藻营养软胶囊700mg/粒*100粒/瓶 赠原品1瓶">澳罗拉螺旋藻营养软胶囊700mg/粒*100粒/瓶<span class="c_ba2636"> 赠原品1瓶</span></a></p>
                <p class="list-products-item-price"><del>¥358.00</del>&nbsp;&nbsp;<strong class="fs14">¥98.00</strong></p>
                <p class="list-products-item-comment">
                    <a target="_blank" href="http://baojian.163.com/product/1661.html#P_nav">已有85条评价</a>&nbsp;&nbsp;
              <span title="原品1瓶">赠</span>
                </p>
                <p class="list-products-item-title">活体螺旋藻制作</p>
                <a href="#Core.onCartIconClick:1661" hidefocus="true" class="list-products-item-car" title="添加到购物车"></a>
            </div>
            <div class="list-products-item">
                <a class="list-products-item-img" target="_blank" href="http://baojian.163.com/product/1661.html" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                    <img width="220" height="220" border="0" src="http://img3.126.net/health/product/20121024/h8o25jfz10064_220_220.jpg" alt="澳罗拉螺旋藻营养软胶囊700mg/粒*100粒/瓶 赠原品1瓶" title="澳罗拉螺旋藻营养软胶囊700mg/粒*100粒/瓶 赠原品1瓶">
                    <span class="list-products-item-icon list-products-item-icon1"></span>

                </a>
                <p class="list-products-item-desc"><a target="_blank" href="http://baojian.163.com/product/1661.html" title="澳罗拉螺旋藻营养软胶囊700mg/粒*100粒/瓶 赠原品1瓶">澳罗拉螺旋藻营养软胶囊700mg/粒*100粒/瓶<span class="c_ba2636"> 赠原品1瓶</span></a></p>
                <p class="list-products-item-price"><del>¥358.00</del>&nbsp;&nbsp;<strong class="fs14">¥98.00</strong></p>
                <p class="list-products-item-comment">
                    <a target="_blank" href="http://baojian.163.com/product/1661.html#P_nav">已有85条评价</a>&nbsp;&nbsp;
              <span title="原品1瓶">赠</span>
                </p>
                <p class="list-products-item-title">活体螺旋藻制作</p>
                <a href="#Core.onCartIconClick:1661" hidefocus="true" class="list-products-item-car" title="添加到购物车"></a>
            </div>
        </div>
        <div id="list-page">
            <div id="list-page-nva">
                <div class="list-page-split">
                    <span class="prev">上一页<i></i></span>
                    <span>1</span><a href="http://baojian.163.com/products/1-11-0-0-0-0-0-0-0-0-2.html">2</a>
                    <a class="next" href="http://baojian.163.com/products/1-11-0-0-0-0-0-0-0-0-2.html">下一页<i></i></a>
                    <span class="list-page-tip">到第</span>
                    <input class="list-page-jump" tmpl="http://baojian.163.com/products/1-11-0-0-0-0-0-0-0-0-{p}.html" type="text" value="1">
                    <span class="list-page-tip">页</span><a class="list-page-btn" href="javascript:">确定</a>
                </div>
                <input type="hidden" id="pageJumpUrl" total="2" value="http://baojian.163.com/products/1-11-0-0-0-0-0-0-0-0-{p}.html">
            </div>
        </div>
    </section>
</article>
