<article class="top-hot clearfix">
    <div class="top-hot-left">
        <ul class="top-hot-left-category">
            <li class="child0 clearfix">
                <h3>
                    <a href="/products/1.html" class="top-hot-left-icon" hidefocus="true"></a>
                    <a href="/products/1.html">基础</a>
                    <em style="display: none;">所有人群</em>
                </h3>
                <div class="top-hot-left-sub">
                    <span><a href="http://baojian.163.com/products/1-105.html">维生素类</a></span><span><a href="http://baojian.163.com/products/1-106.html">钙铁锌硒</a></span><span><a href="http://baojian.163.com/products/1-107.html">蛋白质类</a></span><span><a href="http://baojian.163.com/products/1-8.html">增强免疫</a></span><span><a href="http://baojian.163.com/products/1-9.html">减缓疲劳</a></span><span><a href="http://baojian.163.com/products/1-10.html">改善睡眠</a></span><span><a href="http://baojian.163.com/products/1-11.html">调节肠胃</a></span><span><a href="http://baojian.163.com/products/1-12.html">改善记忆</a></span><span><a href="http://baojian.163.com/products/1-13.html">护眼明目</a></span>
                </div>
            </li>
            <li class="child1 clearfix">
                <h3 class="type1">
                    <a href="/products/2.html" class="top-hot-left-icon" hidefocus="true"></a>
                    <a href="/products/2.html">女士</a>

                </h3>
                <div class="top-hot-left-sub">
                    <span><a href="http://baojian.163.com/products/2-14.html">补血养气</a></span><span><a href="http://baojian.163.com/products/2-15.html">减肥瘦身</a></span><span><a href="http://baojian.163.com/products/2-16.html">丰胸美胸</a></span><span><a href="http://baojian.163.com/products/2-17.html">美白祛斑</a></span><span><a href="http://baojian.163.com/products/2-18.html">排毒养颜</a></span><span><a href="http://baojian.163.com/products/2-19.html">延缓衰老</a></span><span><a href="http://baojian.163.com/products/2-20.html">孕期营养</a></span>
                </div>
            </li>
            <li class="child2 clearfix">
                <h3>
                    <a href="/products/3.html" class="top-hot-left-icon" hidefocus="true"></a>
                    <a href="/products/3.html">男士</a>

                </h3>
                <div class="top-hot-left-sub">
                    <span><a href="http://baojian.163.com/products/3-21.html">补肾健体</a></span><span><a href="http://baojian.163.com/products/3-22.html">解酒护肝</a></span><span><a href="http://baojian.163.com/products/3-23.html">性腺养护</a></span><span><a href="http://baojian.163.com/products/3-24.html">健身塑肌</a></span>
                </div>
            </li>
            <li class="child3 clearfix">
                <h3>
                    <a href="/products/4.html" class="top-hot-left-icon" hidefocus="true"></a>
                    <a href="/products/4.html">老人</a>

                </h3>
                <div class="top-hot-left-sub">
                    <span><a href="http://baojian.163.com/products/4-25.html">调节三高</a></span><span><a href="http://baojian.163.com/products/4-26.html">心脑保健</a></span><span><a href="http://baojian.163.com/products/4-27.html">溶解血栓</a></span><span><a href="http://baojian.163.com/products/4-28.html">强健骨骼</a></span>
                </div>
            </li>
            <li class="child4 clearfix">
                <h3>
                    <a href="/products/5.html" class="top-hot-left-icon" hidefocus="true"></a>
                    <a href="/products/5.html">儿童</a>

                </h3>
                <div class="top-hot-left-sub">
                    <span><a href="http://baojian.163.com/products/5-29.html">均衡营养</a></span><span><a href="http://baojian.163.com/products/5-30.html">健脑益智</a></span><span><a href="http://baojian.163.com/products/5-31.html">增强免疫</a></span><span><a href="http://baojian.163.com/products/5-32.html">骨骼发育</a></span>
                </div>
            </li>
            <li class="child5 clearfix">
                <h3>
                    <a href="/products/6.html" class="top-hot-left-icon" hidefocus="true"></a>
                    <a href="/products/6.html">食品</a>

                </h3>
                <div class="top-hot-left-sub">
                    <span><a href="http://baojian.163.com/products/6-33.html">蜂蜜阿胶</a></span><span><a href="http://baojian.163.com/products/6-34.html">茶疗保健</a></span><span><a href="http://baojian.163.com/products/6-36.html">果干糕点</a></span>
                </div>
            </li>
        </ul>
        <div class="top-hot-left-area  mt10">
            <a href="http://baojian.163.com/product/1761.html" target="_blank" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                <img src="http://img3.126.net/health/images/leli3.jpg" width="270" height="150" alt="乐力" border="0"></a>
        </div>
    </div>
    <div class="top-hot-right cleafix">
        <section class="slider-box">
            <ul class="slider-list">
                <li style="opacity: 0.974050951842016; z-index: 9;"><a target="_blank" href="http://baojian.163.com/activity/2013_1.html#from=banner" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                    <img imageurl="http://img3.126.net/health/product/frontpage/hcaeuw8q10001.jpg" title="" alt="" src="http://img3.126.net/health/product/frontpage/hcaeuw8q10001.jpg" width="710" height="280" border="0"></a></li>
                <li style="opacity: 0.027468462410097594; z-index: 10;"><a target="_blank" href="http://baojian.163.com/brand/90.html#from=banner" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                    <img imageurl="http://img3.126.net/health/product/frontpage/hbr8ijyr10001.jpg" title="" alt="" src="http://img3.126.net/health/product/frontpage/hbr8ijyr10001.jpg" width="710" height="280" border="0"></a></li>
                <li style="opacity: 0; z-index: 9;"><a target="_blank" href="http://baoxian.163.com/activity/spring2013.html#from=baojianpintoutu" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                    <img imageurl="http://img3.126.net/health/product/frontpage/hcd6jc6o10002.jpg" title="" alt="" src="http://img3.126.net/health/product/frontpage/hcd6jc6o10002.jpg" width="710" height="280" border="0"></a></li>
            </ul>
            <div class="slider-page" style="z-index: 11;">
                <div class="slider-page-box">
                    <div class="slider-page-list"><a href="#" class="">1</a><a href="#" class="active">2</a><a href="#" class="">3</a></div>
                </div>
            </div>
        </section>
        <section class="slider-tab-box clearfix">
            <ul class="slider-tab-top clearfix">
                <li class="slider-tab-child0 active" rel="#slidGoods0">惊爆特价</li>
                <li class="slider-tab-child1" rel="#slidGoods1">每日优选</li>
                <li class="slider-tab-child2" rel="#slidGoods2">本周热卖</li>
                <li class="slider-tab-child3" rel="#slidGoods3">新品上架</li>
            </ul>
            <div class="slider-tab-container" id="slidGoods0">
                <a class="slider-tab-left-handler" href="javascript:;"></a>
                <a class="slider-tab-right-handler" href="javascript:;"></a>
                <div class="slider-tab-content">
                    <div class="slider-tab-scroll">
                        <div class="slider-tab-viewbox clearfix">
                            <div class="slider-tab-item">
                                <a href="/product/2180.html" target="_blank" class="slider-tab-item-img" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                                    <img width="150" height="150" border="0" src="http://img4.126.net/health/product/20130122/hc8oiw8z10279_170_170.jpg" alt="GNC健安喜【美颜必备组合套餐】葡萄籽精华胶囊+维生素C咀嚼片+石榴精华胶囊427mg/粒*100粒，1077mg/片*180片，496mg/粒*50粒" title="GNC健安喜【美颜必备组合套餐】葡萄籽精华胶囊+维生素C咀嚼片+石榴精华胶囊427mg/粒*100粒，1077mg/片*180片，496mg/粒*50粒">
                                    <span class="slider-tab-item-img-icon icon0"></span>
                                </a>
                                <p class="slider-tab-item-title"><a target="_blank" title="GNC健安喜【美颜必备组合套餐】葡萄籽精华胶囊+维生素C咀嚼片+石榴精华胶囊427mg/粒*100粒，1077mg/片*180片，496mg/粒*50粒赠红色经典礼盒一个" href="/product/2180.html">GNC健安喜【美颜必备组合套餐】葡萄籽精华胶囊+维生素C咀嚼片+石榴精华胶囊427mg/粒*100粒，1077mg/片*180片，496mg/粒*50粒&nbsp;<span class="c_ba2636">赠红色经典礼盒一个</span></a></p>
                                <p class="slider-tab-item-delete-price"><del>¥493.00</del></p>
                                <p class="slider-tab-item-price">
                                    <strong>¥306.00</strong>
                                    <span title="红色经典礼盒一个">赠</span>
                                </p>
                            </div>
                            <div class="slider-tab-item">
                                <a href="/product/1714.html" target="_blank" class="productImg" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                                    <img width="150" height="150" border="0" src="http://img3.126.net/health/product/20121031/h8y6msyf10114_170_170.jpg" alt="太太静心助眠口服液15ml/支*60支/盒" title="太太静心助眠口服液15ml/支*60支/盒">
                                    <span class="actNewIcon actIcon01"></span>
                                </a>
                                <p class="slider-tab-item-title"><a target="_blank" title="太太静心助眠口服液15ml/支*60支/盒赠浴球+天然绿茶香皂二块礼盒" href="/product/1714.html">太太静心助眠口服液15ml/支*60支/盒&nbsp;<span class="c_ba2636">赠浴球+天然绿茶香皂二块礼盒</span></a></p>
                                <p class="slider-tab-item-delete-price"><del>¥293.00</del></p>
                                <p class="slider-tab-item-price">
                                    <strong>¥208.20</strong>
                                    <span title="浴球+天然绿茶香皂二块礼盒">赠</span>
                                </p>
                            </div>
                            <div class="slider-tab-item">
                                <a href="/product/2164.html" target="_blank" class="productImg" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                                    <img width="150" height="150" border="0" src="http://img4.126.net/health/product/20130118/hc2vsd6710026_170_170.jpg" alt="善存佳维礼盒装1.33g/片×150片" title="善存佳维礼盒装1.33g/片×150片"></a>
                                <p class="slider-tab-item-title"><a target="_blank" title="善存佳维礼盒装1.33g/片×150片" href="/product/2164.html">善存佳维礼盒装1.33g/片×150片&nbsp;<span class="c_ba2636"></span></a></p>
                                <p class="slider-tab-item-delete-price"><del>¥175.30</del></p>
                                <p class="slider-tab-item-price">
                                    <strong class="fs14">¥150.25</strong>
                                </p>
                            </div>
                            <div class="slider-tab-item">
                                <a href="/product/2172.html" target="_blank" class="productImg" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                                    <img width="150" height="150" border="0" src="http://img4.126.net/health/product/20130121/hc7c9rgm10212_170_170.jpg" alt="AURINDA澳琳达魅力男士礼盒蜂王浆1400mg/粒*100粒/瓶+袋鼠精500mg/粒*120粒/瓶" title="AURINDA澳琳达魅力男士礼盒蜂王浆1400mg/粒*100粒/瓶+袋鼠精500mg/粒*120粒/瓶">
                                    <span class="actNewIcon actIcon01"></span>
                                </a>
                                <p class="slider-tab-item-title"><a target="_blank" title="AURINDA澳琳达魅力男士礼盒蜂王浆1400mg/粒*100粒/瓶+袋鼠精500mg/粒*120粒/瓶赠澳琳达15粒蜂胶*1+澳琳达10粒袋鼠精*2" href="/product/2172.html">AURINDA澳琳达魅力男士礼盒蜂王浆1400mg/粒*100粒/瓶+袋鼠精500mg/粒*120粒/瓶&nbsp;<span class="c_ba2636">赠澳琳达15粒蜂胶*1+澳琳达10粒袋鼠精*2</span></a></p>
                                <p class="slider-tab-item-delete-price"><del>¥1204.00</del></p>
                                <p class="slider-tab-item-price">
                                    <strong class="fs14">¥842.00</strong>
                                    <span class="actLabel" title="澳琳达15粒蜂胶*1+澳琳达10粒袋鼠精*2">赠</span>
                                </p>
                            </div>
                            <div class="slider-tab-item">
                                <a href="/product/1707.html" target="_blank" class="productImg" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                                    <img width="150" height="150" border="0" src="http://img3.126.net/health/product/20121031/h8xtthor10092_170_170.jpg" alt="东阿阿胶阿胶元浆30ml/支*12支/盒" title="东阿阿胶阿胶元浆30ml/支*12支/盒">
                                    <span class="actNewIcon actIcon01"></span>
                                </a>
                                <p class="slider-tab-item-title"><a target="_blank" title="东阿阿胶阿胶元浆30ml/支*12支/盒赠价值15.8元的桃花姬7.5g*4块" href="/product/1707.html">东阿阿胶阿胶元浆30ml/支*12支/盒&nbsp;<span class="c_ba2636">赠价值15.8元的桃花姬7.5g*4块</span></a></p>
                                <p class="slider-tab-item-delete-price"><del>¥198.00</del></p>
                                <p class="slider-tab-item-price">
                                    <strong class="fs14">¥159.00</strong>
                                    <span class="actLabel" title="价值15.8元的桃花姬7.5g*4块">赠</span>
                                </p>
                            </div>
                            <div class="slider-tab-item">
                                <a href="/product/1098.html" target="_blank" class="productImg" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                                    <img width="150" height="150" border="0" src="http://img3.126.net/health/product/20121219/havtqgw510786_170_170.jpg" alt="BOLIS伯力斯欧米伽-3鱼油软胶囊1200mg*100粒" title="BOLIS伯力斯欧米伽-3鱼油软胶囊1200mg*100粒"></a>
                                <p class="slider-tab-item-title"><a target="_blank" title="BOLIS伯力斯欧米伽-3鱼油软胶囊1200mg*100粒" href="/product/1098.html">BOLIS伯力斯欧米伽-3鱼油软胶囊1200mg*100粒&nbsp;<span class="c_ba2636"></span></a></p>
                                <p class="slider-tab-item-delete-price"><del>¥148.00</del></p>
                                <p class="slider-tab-item-price">
                                    <strong class="fs14">¥68.00</strong>
                                </p>
                            </div>
                            <div class="slider-tab-item">
                                <a href="/product/1892.html" target="_blank" class="productImg" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                                    <img width="150" height="150" border="0" src="http://img3.126.net/health/product/20121102/h90nkqrk10042_170_170.jpg" alt="美澳健维生素C加维生素E片1g*58片" title="美澳健维生素C加维生素E片1g*58片">
                                    <span class="actNewIcon actIcon01"></span>
                                </a>
                                <p class="slider-tab-item-title"><a target="_blank" title="美澳健维生素C加维生素E片1g*58片赠美澳健维生素C加维生素E片30粒" href="/product/1892.html">美澳健维生素C加维生素E片1g*58片&nbsp;<span class="c_ba2636">赠美澳健维生素C加维生素E片30粒</span></a></p>
                                <p class="slider-tab-item-delete-price"><del>¥115.00</del></p>
                                <p class="slider-tab-item-price">
                                    <strong class="fs14">¥58.00</strong>
                                    <span class="actLabel" title="美澳健维生素C加维生素E片30粒">赠</span>
                                </p>
                            </div>
                            <div class="slider-tab-item">
                                <a href="/product/898.html" target="_blank" class="productImg" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                                    <img width="150" height="150" border="0" src="http://img3.126.net/health/product/20121226/hb5ujgyu11285_170_170.gif" alt="自然之宝秘鲁植物提取物胶囊550mg/粒×60粒" title="自然之宝秘鲁植物提取物胶囊550mg/粒×60粒"></a>
                                <p class="slider-tab-item-title"><a target="_blank" title="自然之宝秘鲁植物提取物胶囊550mg/粒×60粒" href="/product/898.html">自然之宝秘鲁植物提取物胶囊550mg/粒×60粒&nbsp;<span class="c_ba2636"></span></a></p>
                                <p class="slider-tab-item-delete-price"><del>¥299.00</del></p>
                                <p class="slider-tab-item-price">
                                    <strong class="fs14">¥253.00</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-tab-container" id="slidGoods1" style="display: none">
                <a class="slider-tab-left-handler" href="javascript:;"></a><a style="" class="slider-tab-right-handler" href="javascript:;"></a>
                <div class="slider-tab-content">
                    <div class="slider-tab-scroll">
                        <div class="slider-tab-viewbox clearfix">
                            <div class="slider-tab-item">
                                <a href="/product/1761.html" target="_blank" class="productImg" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                                    <img lazyload="http://img3.126.net/health/product/20121204/haagpzn910013_170_170.jpg" width="150" height="150" border="0" src="http://img3.126.net/health/images/blank.gif" alt="乐力复合氨基酸螯合钙胶囊1g/粒*60粒/瓶" title="乐力复合氨基酸螯合钙胶囊1g/粒*60粒/瓶"></a>
                                <p class="slider-tab-item-title"><a target="_blank" title="乐力复合氨基酸螯合钙胶囊1g/粒*60粒/瓶" href="/product/1761.html">乐力复合氨基酸螯合钙胶囊1g/粒*60粒/瓶&nbsp;<span class="c_ba2636"></span></a></p>
                                <p class="slider-tab-item-delete-price"><del>¥89.00</del></p>
                                <p class="slider-tab-item-price">
                                    <strong class="fs14">¥68.00</strong>
                                </p>
                            </div>
                            <div class="slider-tab-item">
                                <a href="/product/2168.html" target="_blank" class="productImg" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                                    <img lazyload="http://img3.126.net/health/product/20130121/hc75s9c910074_170_170.jpg" width="150" height="150" border="0" src="http://img3.126.net/health/images/blank.gif" alt="Natrol畅享美食组合（左旋肉碱+木瓜酵素+乳酸菌）0.83g/粒*30粒/瓶，1.11g/片*100片/瓶，0.43g/粒*100粒/瓶" title="Natrol畅享美食组合（左旋肉碱+木瓜酵素+乳酸菌）0.83g/粒*30粒/瓶，1.11g/片*100片/瓶，0.43g/粒*100粒/瓶"></a>
                                <p class="slider-tab-item-title"><a target="_blank" title="Natrol畅享美食组合（左旋肉碱+木瓜酵素+乳酸菌）0.83g/粒*30粒/瓶，1.11g/片*100片/瓶，0.43g/粒*100粒/瓶" href="/product/2168.html">Natrol畅享美食组合（左旋肉碱+木瓜酵素+乳酸菌）0.83g/粒*30粒/瓶，1.11g/片*100片/瓶，0.43g/粒*100粒/瓶&nbsp;<span class="c_ba2636"></span></a></p>
                                <p class="slider-tab-item-delete-price"><del>¥537.00</del></p>
                                <p class="slider-tab-item-price">
                                    <strong class="fs14">¥369.00</strong>
                                </p>
                            </div>
                            <div class="slider-tab-item">
                                <a href="/product/1078.html" target="_blank" class="productImg" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                                    <img lazyload="http://img3.126.net/health/product/20121120/h9qgxn1d10031_170_170.jpg" width="150" height="150" border="0" src="http://img3.126.net/health/images/blank.gif" alt="GNC健安喜奶蓟精华胶囊（原小蓟精华胶囊）792mg/粒*100粒" title="GNC健安喜奶蓟精华胶囊（原小蓟精华胶囊）792mg/粒*100粒"></a>
                                <p class="slider-tab-item-title"><a target="_blank" title="GNC健安喜奶蓟精华胶囊（原小蓟精华胶囊）792mg/粒*100粒" href="/product/1078.html">GNC健安喜奶蓟精华胶囊（原小蓟精华胶囊）792mg/粒*100粒&nbsp;<span class="c_ba2636"></span></a></p>
                                <p class="slider-tab-item-delete-price"><del>¥399.00</del></p>
                                <p class="slider-tab-item-price">
                                    <strong class="fs14">¥279.30</strong>
                                </p>
                            </div>
                            <div class="slider-tab-item">
                                <a href="/product/1621.html" target="_blank" class="productImg" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                                    <img lazyload="http://img3.126.net/health/product/20121105/h95dkiek10424_170_170.jpg" width="150" height="150" border="0" src="http://img3.126.net/health/images/blank.gif" alt="碧生源常润茶（IMA装）2.5g/袋*25袋/盒*3盒" title="碧生源常润茶（IMA装）2.5g/袋*25袋/盒*3盒">
                                    <span class="actNewIcon actIcon01"></span>
                                </a>
                                <p class="slider-tab-item-title"><a target="_blank" title="碧生源常润茶（IMA装）2.5g/袋*25袋/盒*3盒赠彩诗橄榄油超润护手霜" href="/product/1621.html">碧生源常润茶（IMA装）2.5g/袋*25袋/盒*3盒&nbsp;<span class="c_ba2636">赠彩诗橄榄油超润护手霜</span></a></p>
                                <p class="slider-tab-item-delete-price"><del>¥179.40</del></p>
                                <p class="slider-tab-item-price">
                                    <strong class="fs14">¥160.00</strong>
                                    <span class="actLabel" title="彩诗橄榄油超润护手霜">赠</span>
                                </p>
                            </div>
                            <div class="slider-tab-item">
                                <a href="/product/958.html" target="_blank" class="productImg" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                                    <img lazyload="http://img3.126.net/health/product/20121025/h8ph8jmq10353_170_170.jpg" width="150" height="150" border="0" src="http://img3.126.net/health/images/blank.gif" alt="福施福孕妇营养素补充剂软胶囊30粒/盒" title="福施福孕妇营养素补充剂软胶囊30粒/盒"></a>
                                <p class="slider-tab-item-title"><a target="_blank" title="福施福孕妇营养素补充剂软胶囊30粒/盒" href="/product/958.html">福施福孕妇营养素补充剂软胶囊30粒/盒&nbsp;<span class="c_ba2636"></span></a></p>
                                <p class="slider-tab-item-delete-price"><del>¥148.00</del></p>
                                <p class="slider-tab-item-price">
                                    <strong class="fs14">¥137.00</strong>
                                </p>
                            </div>
                            <div class="slider-tab-item">
                                <a href="/product/1886.html" target="_blank" class="productImg" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                                    <img lazyload="http://img3.126.net/health/product/20121205/hac8qk9k10468_170_170.jpg" width="150" height="150" border="0" src="http://img3.126.net/health/images/blank.gif" alt="Schiff旭福维生素B族复合片 888mg*100片" title="Schiff旭福维生素B族复合片 888mg*100片">
                                    <span class="actNewIcon actIcon01"></span>
                                </a>
                                <p class="slider-tab-item-title"><a target="_blank" title="Schiff旭福维生素B族复合片 888mg*100片赠原品一件" href="/product/1886.html">Schiff旭福维生素B族复合片 888mg*100片&nbsp;<span class="c_ba2636">赠原品一件</span></a></p>
                                <p class="slider-tab-item-delete-price"><del>¥298.00</del></p>
                                <p class="slider-tab-item-price">
                                    <strong class="fs14">¥298.00</strong>
                                    <span class="actLabel" title="原品一件">赠</span>
                                </p>
                            </div>
                            <div class="slider-tab-item">
                                <a href="/product/1669.html" target="_blank" class="productImg" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                                    <img lazyload="http://img3.126.net/health/product/20121025/h8p9oeh710186_170_170.jpg" width="150" height="150" border="0" src="http://img3.126.net/health/images/blank.gif" alt="澳罗拉儿童DHA鱼油营养软胶囊700mg/粒*60粒/瓶" title="澳罗拉儿童DHA鱼油营养软胶囊700mg/粒*60粒/瓶">
                                    <span class="actNewIcon actIcon01"></span>
                                </a>
                                <p class="slider-tab-item-title"><a target="_blank" title="澳罗拉儿童DHA鱼油营养软胶囊700mg/粒*60粒/瓶赠原品1瓶" href="/product/1669.html">澳罗拉儿童DHA鱼油营养软胶囊700mg/粒*60粒/瓶&nbsp;<span class="c_ba2636">赠原品1瓶</span></a></p>
                                <p class="slider-tab-item-delete-price"><del>¥179.00</del></p>
                                <p class="slider-tab-item-price">
                                    <strong class="fs14">¥98.00</strong>
                                    <span class="actLabel" title="原品1瓶">赠</span>
                                </p>
                            </div>
                            <div class="slider-tab-item">
                                <a href="/product/851.html" target="_blank" class="productImg" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                                    <img lazyload="http://img3.126.net/health/product/20121103/h92hiaeh10322_170_170.jpg" width="150" height="150" border="0" src="http://img3.126.net/health/images/blank.gif" alt="十一坊胶原蛋白软胶囊1650mg×60粒" title="十一坊胶原蛋白软胶囊1650mg×60粒">
                                    <span class="actNewIcon actIcon01"></span>
                                </a>
                                <p class="slider-tab-item-title"><a target="_blank" title="十一坊胶原蛋白软胶囊1650mg×60粒赠十一坊牛乳钙片20粒" href="/product/851.html">十一坊胶原蛋白软胶囊1650mg×60粒&nbsp;<span class="c_ba2636">赠十一坊牛乳钙片20粒</span></a></p>
                                <p class="slider-tab-item-delete-price"><del>¥348.00</del></p>
                                <p class="slider-tab-item-price">
                                    <strong class="fs14">¥256.50</strong>
                                    <span class="actLabel" title="十一坊牛乳钙片20粒">赠</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-tab-container" id="slidGoods2" style="display: none">
                <a class="slider-tab-left-handler" href="javascript:;"></a><a style="" class="slider-tab-right-handler" href="javascript:;"></a>
                <div class="slider-tab-content">
                    <div class="slider-tab-scroll">
                        <div class="slider-tab-viewbox clearfix">
                            <div class="slider-tab-item">
                                <a href="/product/1353.html" target="_blank" class="productImg" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                                    <img lazyload="http://img3.126.net/health/product/20121213/hanba4gd10111_170_170.jpg" width="150" height="150" border="0" src="http://img3.126.net/health/images/blank.gif" alt="GNC健安喜深海鱼油软胶囊1.46g/粒*90粒" title="GNC健安喜深海鱼油软胶囊1.46g/粒*90粒"></a>
                                <p class="slider-tab-item-title"><a target="_blank" title="GNC健安喜深海鱼油软胶囊1.46g/粒*90粒" href="/product/1353.html">GNC健安喜深海鱼油软胶囊1.46g/粒*90粒&nbsp;<span class="c_ba2636"></span></a></p>
                                <p class="slider-tab-item-delete-price"><del>¥158.00</del></p>
                                <p class="slider-tab-item-price">
                                    <strong class="fs14">¥116.00</strong>
                                </p>
                            </div>
                            <div class="slider-tab-item">
                                <a href="/product/2158.html" target="_blank" class="productImg" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                                    <img lazyload="http://img4.126.net/health/product/20130115/hbyuaekn10046_170_170.jpg" width="150" height="150" border="0" src="http://img3.126.net/health/images/blank.gif" alt="LaMolina拉摩力拉玛卡片组合840mg/片*30片*3瓶" title="LaMolina拉摩力拉玛卡片组合840mg/片*30片*3瓶"></a>
                                <p class="slider-tab-item-title"><a target="_blank" title="LaMolina拉摩力拉玛卡片组合840mg/片*30片*3瓶" href="/product/2158.html">LaMolina拉摩力拉玛卡片组合840mg/片*30片*3瓶&nbsp;<span class="c_ba2636"></span></a></p>
                                <p class="slider-tab-item-delete-price"><del>¥894.00</del></p>
                                <p class="slider-tab-item-price">
                                    <strong class="fs14">¥529.00</strong>
                                </p>
                            </div>
                            <div class="slider-tab-item">
                                <a href="/product/2171.html" target="_blank" class="productImg" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                                    <img lazyload="http://img4.126.net/health/product/20130122/hc8j68tf10422_170_170.jpg" width="150" height="150" border="0" src="http://img3.126.net/health/images/blank.gif" alt="Natrol非洲刺李复合营养素片（前列腺保养片）1.21g/片*60片/瓶" title="Natrol非洲刺李复合营养素片（前列腺保养片）1.21g/片*60片/瓶">
                                    <span class="actNewIcon actIcon01"></span>
                                </a>
                                <p class="slider-tab-item-title"><a target="_blank" title="Natrol非洲刺李复合营养素片（前列腺保养片）1.21g/片*60片/瓶赠原品1瓶" href="/product/2171.html">Natrol非洲刺李复合营养素片（前列腺保养片）1.21g/片*60片/瓶&nbsp;<span class="c_ba2636">赠原品1瓶</span></a></p>
                                <p class="slider-tab-item-delete-price"><del>¥289.00</del></p>
                                <p class="slider-tab-item-price">
                                    <strong class="fs14">¥245.00</strong>
                                    <span class="actLabel" title="原品1瓶">赠</span>
                                </p>
                            </div>
                            <div class="slider-tab-item">
                                <a href="/product/1945.html" target="_blank" class="productImg" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                                    <img lazyload="http://img3.126.net/health/product/20121107/h987g5xy10018_170_170.jpg" width="150" height="150" border="0" src="http://img3.126.net/health/images/blank.gif" alt="美澳健海狗丸0.167g*180粒" title="美澳健海狗丸0.167g*180粒">
                                    <span class="actNewIcon actIcon01"></span>
                                </a>
                                <p class="slider-tab-item-title"><a target="_blank" title="美澳健海狗丸0.167g*180粒赠维生素B30粒" href="/product/1945.html">美澳健海狗丸0.167g*180粒&nbsp;<span class="c_ba2636">赠维生素B30粒</span></a></p>
                                <p class="slider-tab-item-delete-price"><del>¥238.00</del></p>
                                <p class="slider-tab-item-price">
                                    <strong class="fs14">¥123.80</strong>
                                    <span class="actLabel" title="维生素B30粒">赠</span>
                                </p>
                            </div>
                            <div class="slider-tab-item">
                                <a href="/product/1661.html" target="_blank" class="productImg" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                                    <img lazyload="http://img3.126.net/health/product/20121024/h8o25jfz10064_170_170.jpg" width="150" height="150" border="0" src="http://img3.126.net/health/images/blank.gif" alt="澳罗拉螺旋藻营养软胶囊700mg/粒*100粒/瓶" title="澳罗拉螺旋藻营养软胶囊700mg/粒*100粒/瓶">
                                    <span class="actNewIcon actIcon01"></span>
                                </a>
                                <p class="slider-tab-item-title"><a target="_blank" title="澳罗拉螺旋藻营养软胶囊700mg/粒*100粒/瓶赠原品1瓶" href="/product/1661.html">澳罗拉螺旋藻营养软胶囊700mg/粒*100粒/瓶&nbsp;<span class="c_ba2636">赠原品1瓶</span></a></p>
                                <p class="slider-tab-item-delete-price"><del>¥358.00</del></p>
                                <p class="slider-tab-item-price">
                                    <strong class="fs14">¥98.00</strong>
                                    <span class="actLabel" title="原品1瓶">赠</span>
                                </p>
                            </div>
                            <div class="slider-tab-item">
                                <a href="/product/1267.html" target="_blank" class="productImg" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                                    <img lazyload="http://img3.126.net/health/product/20121109/8001593_1_170_170.jpg" width="150" height="150" border="0" src="http://img3.126.net/health/images/blank.gif" alt="金奇仕婴幼儿鳕鱼肝油Ⅰ段 0-6个月婴幼儿及哺乳期妈妈60粒" title="金奇仕婴幼儿鳕鱼肝油Ⅰ段 0-6个月婴幼儿及哺乳期妈妈60粒"></a>
                                <p class="slider-tab-item-title"><a target="_blank" title="金奇仕婴幼儿鳕鱼肝油Ⅰ段 0-6个月婴幼儿及哺乳期妈妈60粒" href="/product/1267.html">金奇仕婴幼儿鳕鱼肝油Ⅰ段 0-6个月婴幼儿及哺乳期妈妈60粒&nbsp;<span class="c_ba2636"></span></a></p>
                                <p class="slider-tab-item-delete-price"><del>¥168.00</del></p>
                                <p class="slider-tab-item-price">
                                    <strong class="fs14">¥149.66</strong>
                                </p>
                            </div>
                            <div class="slider-tab-item">
                                <a href="/product/878.html" target="_blank" class="productImg" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                                    <img lazyload="http://img3.126.net/health/product/20130115/hbyqlsb710011_170_170.jpg" width="150" height="150" border="0" src="http://img3.126.net/health/images/blank.gif" alt="自然之宝欧米伽-3高纯深海鱼油 1g/粒*100粒" title="自然之宝欧米伽-3高纯深海鱼油 1g/粒*100粒">
                                    <span class="actNewIcon actIcon01"></span>
                                </a>
                                <p class="slider-tab-item-title"><a target="_blank" title="自然之宝欧米伽-3高纯深海鱼油 1g/粒*100粒赠自然之宝大豆卵磷脂试用装30粒" href="/product/878.html">自然之宝欧米伽-3高纯深海鱼油 1g/粒*100粒&nbsp;<span class="c_ba2636">赠自然之宝大豆卵磷脂试用装30粒</span></a></p>
                                <p class="slider-tab-item-delete-price"><del>¥199.00</del></p>
                                <p class="slider-tab-item-price">
                                    <strong class="fs14">¥168.00</strong>
                                    <span class="actLabel" title="自然之宝大豆卵磷脂试用装30粒">赠</span>
                                </p>
                            </div>
                            <div class="slider-tab-item">
                                <a href="/product/1077.html" target="_blank" class="productImg" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                                    <img lazyload="http://img3.126.net/health/product/20121107/h98k79hf20007_170_170.jpg" width="150" height="150" border="0" src="http://img3.126.net/health/images/blank.gif" alt="GNC健安喜免疫球蛋白胶囊496mg/粒*60粒" title="GNC健安喜免疫球蛋白胶囊496mg/粒*60粒">
                                    <span class="actNewIcon actIcon02"></span>
                                </a>
                                <p class="slider-tab-item-title"><a target="_blank" title="GNC健安喜免疫球蛋白胶囊496mg/粒*60粒直降59元" href="/product/1077.html">GNC健安喜免疫球蛋白胶囊496mg/粒*60粒&nbsp;<span class="c_ba2636">直降59元</span></a></p>
                                <p class="slider-tab-item-delete-price"><del>¥228.00</del></p>
                                <p class="slider-tab-item-price">
                                    <strong class="fs14">¥169.00</strong>
                                    <span class="actLabel" title="直降59元">降</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-tab-container" id="slidGoods3" style="display: none">
                <a class="slider-tab-left-handler" href="javascript:;"></a><a style="" class="slider-tab-right-handler" href="javascript:;"></a>
                <div class="slider-tab-content">
                    <div class="slider-tab-scroll">
                        <div class="slider-tab-viewbox clearfix">
                            <div class="slider-tab-item">
                                <a href="/product/2167.html" target="_blank" class="productImg" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                                    <img lazyload="http://img4.126.net/health/product/20130121/hc6yq7kc10013_170_170.jpg" width="150" height="150" border="0" src="http://img3.126.net/health/images/blank.gif" alt="Natrol解酒套装组合（维生素B族+奶蓟）1400mg/片*100片/瓶，561mg/粒*60粒/瓶" title="Natrol解酒套装组合（维生素B族+奶蓟）1400mg/片*100片/瓶，561mg/粒*60粒/瓶"></a>
                                <p class="slider-tab-item-title"><a target="_blank" title="Natrol解酒套装组合（维生素B族+奶蓟）1400mg/片*100片/瓶，561mg/粒*60粒/瓶" href="/product/2167.html">Natrol解酒套装组合（维生素B族+奶蓟）1400mg/片*100片/瓶，561mg/粒*60粒/瓶&nbsp;<span class="c_ba2636"></span></a></p>
                                <p class="slider-tab-item-delete-price"><del>¥438.00</del></p>
                                <p class="slider-tab-item-price">
                                    <strong class="fs14">¥299.00</strong>
                                </p>
                            </div>
                            <div class="slider-tab-item">
                                <a href="/product/2001.html" target="_blank" class="productImg" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                                    <img lazyload="http://img3.126.net/health/product/20121217/hatc5nim10314_170_170.jpg" width="150" height="150" border="0" src="http://img3.126.net/health/images/blank.gif" alt="Jamieson健美生番茄提取物复合片627mg×60片" title="Jamieson健美生番茄提取物复合片627mg×60片"></a>
                                <p class="slider-tab-item-title"><a target="_blank" title="Jamieson健美生番茄提取物复合片627mg×60片" href="/product/2001.html">Jamieson健美生番茄提取物复合片627mg×60片&nbsp;<span class="c_ba2636"></span></a></p>
                                <p class="slider-tab-item-delete-price"><del>¥469.00</del></p>
                                <p class="slider-tab-item-price">
                                    <strong class="fs14">¥188.00</strong>
                                </p>
                            </div>
                            <div class="slider-tab-item">
                                <a href="/product/2182.html" target="_blank" class="productImg" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                                    <img lazyload="http://img4.126.net/health/product/20130123/hc9ea4m610370_170_170.jpg" width="150" height="150" border="0" src="http://img3.126.net/health/images/blank.gif" alt="Natrol魅力女人套装（胶原蛋白玻尿酸+大豆异黄酮+左旋肉碱+番茄红素+女性专用多种维生素）胶原蛋白复合营养胶囊500mg*30粒，大豆提取物复合胶囊0.55克*120粒，鳄梨提取物胶囊0.83克*30粒，番茄提取物营养片1.42g*30片，女性复合果蔬片1.43g*90片" title="Natrol魅力女人套装（胶原蛋白玻尿酸+大豆异黄酮+左旋肉碱+番茄红素+女性专用多种维生素）胶原蛋白复合营养胶囊500mg*30粒，大豆提取物复合胶囊0.55克*120粒，鳄梨提取物胶囊0.83克*30粒，番茄提取物营养片1.42g*30片，女性复合果蔬片1.43g*90片"></a>
                                <p class="slider-tab-item-title"><a target="_blank" title="Natrol魅力女人套装（胶原蛋白玻尿酸+大豆异黄酮+左旋肉碱+番茄红素+女性专用多种维生素）胶原蛋白复合营养胶囊500mg*30粒，大豆提取物复合胶囊0.55克*120粒，鳄梨提取物胶囊0.83克*30粒，番茄提取物营养片1.42g*30片，女性复合果蔬片1.43g*90片" href="/product/2182.html">Natrol魅力女人套装（胶原蛋白玻尿酸+大豆异黄酮+左旋肉碱+番茄红素+女性专用多种维生素）胶原蛋白复合营养胶囊500mg*30粒，大豆提取物复合胶囊0.55克*120粒，鳄梨提取物胶囊0.83克*30粒，番茄提取物营养片1.42g*30片，女性复合果蔬片1.43g*90片&nbsp;<span class="c_ba2636"></span></a></p>
                                <p class="slider-tab-item-delete-price"><del>¥1151.00</del></p>
                                <p class="slider-tab-item-price">
                                    <strong class="fs14">¥799.00</strong>
                                </p>
                            </div>
                            <div class="slider-tab-item">
                                <a href="/product/2172.html" target="_blank" class="productImg" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                                    <img lazyload="http://img4.126.net/health/product/20130121/hc7c9rgm10212_170_170.jpg" width="150" height="150" border="0" src="http://img3.126.net/health/images/blank.gif" alt="AURINDA澳琳达魅力男士礼盒蜂王浆1400mg/粒*100粒/瓶+袋鼠精500mg/粒*120粒/瓶" title="AURINDA澳琳达魅力男士礼盒蜂王浆1400mg/粒*100粒/瓶+袋鼠精500mg/粒*120粒/瓶">
                                    <span class="actNewIcon actIcon01"></span>
                                </a>
                                <p class="slider-tab-item-title"><a target="_blank" title="AURINDA澳琳达魅力男士礼盒蜂王浆1400mg/粒*100粒/瓶+袋鼠精500mg/粒*120粒/瓶赠澳琳达15粒蜂胶*1+澳琳达10粒袋鼠精*2" href="/product/2172.html">AURINDA澳琳达魅力男士礼盒蜂王浆1400mg/粒*100粒/瓶+袋鼠精500mg/粒*120粒/瓶&nbsp;<span class="c_ba2636">赠澳琳达15粒蜂胶*1+澳琳达10粒袋鼠精*2</span></a></p>
                                <p class="slider-tab-item-delete-price"><del>¥1204.00</del></p>
                                <p class="slider-tab-item-price">
                                    <strong class="fs14">¥842.00</strong>
                                    <span class="actLabel" title="澳琳达15粒蜂胶*1+澳琳达10粒袋鼠精*2">赠</span>
                                </p>
                            </div>
                            <div class="slider-tab-item">
                                <a href="/product/2096.html" target="_blank" class="productImg" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                                    <img lazyload="http://img3.126.net/health/product/20121224/hb3fhqg610920_170_170.jpg" width="150" height="150" border="0" src="http://img3.126.net/health/images/blank.gif" alt="加拿大BEC海豹精阳素提取物胶囊400mg/粒×60粒" title="加拿大BEC海豹精阳素提取物胶囊400mg/粒×60粒"></a>
                                <p class="slider-tab-item-title"><a target="_blank" title="加拿大BEC海豹精阳素提取物胶囊400mg/粒×60粒" href="/product/2096.html">加拿大BEC海豹精阳素提取物胶囊400mg/粒×60粒&nbsp;<span class="c_ba2636"></span></a></p>
                                <p class="slider-tab-item-delete-price"><del>¥869.00</del></p>
                                <p class="slider-tab-item-price">
                                    <strong class="fs14">¥548.00</strong>
                                </p>
                            </div>
                            <div class="slider-tab-item">
                                <a href="/product/1863.html" target="_blank" class="productImg" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                                    <img lazyload="http://img3.126.net/health/product/20121130/92100571-1_170_170.jpg" width="150" height="150" border="0" src="http://img3.126.net/health/images/blank.gif" alt="同仁堂百合阿胶粉215g" title="同仁堂百合阿胶粉215g"></a>
                                <p class="slider-tab-item-title"><a target="_blank" title="同仁堂百合阿胶粉215g" href="/product/1863.html">同仁堂百合阿胶粉215g&nbsp;<span class="c_ba2636"></span></a></p>
                                <p class="slider-tab-item-delete-price"><del>¥68.00</del></p>
                                <p class="slider-tab-item-price">
                                    <strong class="fs14">¥68.00</strong>
                                </p>
                            </div>
                            <div class="slider-tab-item">
                                <a href="/product/1867.html" target="_blank" class="productImg" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                                    <img lazyload="http://img3.126.net/health/product/20121130/21000054-1_170_170.jpg" width="150" height="150" border="0" src="http://img3.126.net/health/images/blank.gif" alt="同仁堂总统牌冬虫夏草7g/-40" title="同仁堂总统牌冬虫夏草7g/-40"></a>
                                <p class="slider-tab-item-title"><a target="_blank" title="同仁堂总统牌冬虫夏草7g/-40" href="/product/1867.html">同仁堂总统牌冬虫夏草7g/-40&nbsp;<span class="c_ba2636"></span></a></p>
                                <p class="slider-tab-item-delete-price"><del>¥2880.00</del></p>
                                <p class="slider-tab-item-price">
                                    <strong class="fs14">¥2880.00</strong>
                                </p>
                            </div>
                            <div class="slider-tab-item">
                                <a href="/product/2083.html" target="_blank" class="productImg" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                                    <img lazyload="http://img3.126.net/health/product/20121224/hb33mp5710284_170_170.jpg" width="150" height="150" border="0" src="http://img3.126.net/health/images/blank.gif" alt="加拿大BEC女性专用多维片850mg×300片/瓶" title="加拿大BEC女性专用多维片850mg×300片/瓶"></a>
                                <p class="slider-tab-item-title"><a target="_blank" title="加拿大BEC女性专用多维片850mg×300片/瓶" href="/product/2083.html">加拿大BEC女性专用多维片850mg×300片/瓶&nbsp;<span class="c_ba2636"></span></a></p>
                                <p class="slider-tab-item-delete-price"><del>¥999.00</del></p>
                                <p class="slider-tab-item-price">
                                    <strong class="fs14">¥688.00</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</article>
