@model CodeFirstEF.ViewModels.LogOnModel

@{
    ViewBag.Title = "登录";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@if (ViewBag.Message != null)
{
    <p class="form_tips"><em class="s_icon i_point"></em>@ViewBag.Message</p>
}
@using (Html.BeginForm())
{
    
    @Html.AntiForgeryToken()
    @Html.EditorForModel()
    <button type="submit" class="btn btn-success">
        <i class="icon-ok icon-white"></i>&nbsp;登&nbsp;录</button>

}