@using CodeFirstEF.ViewModels

<h2>@ViewBag.Title</h2>

@foreach (var s in ViewBag.CategoryTypes as Dictionary<string, string>)
{ 
    @Html.ActionLink(s.Value, "Index", new { type = s.Key, @class = "btn btn-success" })
}

@(Html.Kendo().Grid<CategoryViewModel>()
    .Name("CategorysList")
    .Columns(columns =>
    {
        columns.Bound(c => c.CateName);
        columns.Bound(c => c.CateCode);
        columns.Bound(c => c.OrderIndex);
        columns.ForeignKey(c => c.PCateCode, (SelectList)ViewBag.PCateCode);
        columns.Command(command => command.Destroy()).Title("删除").Width(120);
    })
    .ToolBar(toolbar =>
    {
        toolbar.Create();
        toolbar.Save();
    })
    .Editable(editable => editable.Mode(GridEditMode.InCell))
    .Pageable()
    .Sortable()
    .Groupable()
    .Scrollable()
    .Filterable()
    .DataSource(dataSource => dataSource
        .Ajax()
        .Batch(true)
        .PageSize(120)
        .ServerOperation(false)
        .Model(model => model.Id(c => c.ID))
        .Create("Editing_Create", "Category", new { type = ViewBag.CategoryType })
        .Read("Editing_Read", "Category", new { type = ViewBag.CategoryType })
        .Update("Editing_Update", "Category", new { type = ViewBag.CategoryType })
        .Destroy("Editing_Destroy", "Category", new { type = ViewBag.CategoryType })
    ).HtmlAttributes(new { style = "height:500px" })
)