@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}

@using (Html.BeginForm())
{
    @Html.EditorFor(m => Model)

    <button type="submit">submit</button>
}