@using CodeFirstEF.ViewModels;
@{
    ViewBag.Title = "Test";
}

<h2>添加户外信息</h2>

<div id="menu">
</div>

<script type="text/javascript">
    $(function() {
        $.ajax({
            url: '/Home/Map',
            type: 'GET',
            data: '',
            success: function(res) {
                $("#menu").html(res);
            }
        })
    })
</script>
