@{
    ViewBag.Title = "户外列表";
    Layout = "~/Views/Shared/_LayoutPersonal.cshtml";
}
<article class="personal clearfix">
    <div class="personal-left">
        <div class="personal-nav">
            @Html.Partial("_PersonalLeftNav")
        </div>
    </div>
    <div class="personal-right">
        <div class="personal-right-body">
            <div class="personal-body-title clearfix">
                <h5>@ViewBag.Title</h5>
            </div>

            @if (ViewBag.Error != null)
            { 
                @ViewHelpers.Alert("错误信息：",
                ViewBag.Error, false, CoreHelper.Enum.AlertType.error.ToString())
            }
            <div class="personal-form mt20">


                @(Html.Kendo().Grid<CodeFirstEF.Models.OutDoor>()
    .Name("Grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.MediaID).Groupable(false);
        columns.Bound(p => p.Name);
        columns.Bound(p => p.Description);
    })
    .Groupable()
    .Pageable()
    .Sortable()
    .Scrollable()
    .Filterable()
    .DataSource(dataSource => dataSource
        .Ajax()
        .ServerOperation(false)
        .Model(model => model.Id(c => c.MediaID))
        .Read(read => read.Action("OutDoor_Read", "Personal"))
    )
)
            </div>
        </div>

    </div>
</article>
