@model CodeFirstEF.ViewModels.RegisterModel
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.EditorForModel()

    <button type="submit" class="btn btn-success">
        <i class="icon-ok icon-white"></i>&nbsp;注&nbsp;册</button>
}

